<% provide(:title, @tasting_room.winery.name) %>
<div class="row">
  <%= render partial: 'wineries/side_profile', locals: {winery: @tasting_room.winery} %>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <%= render partial: 'sales_summaries/missing_months_this_year', locals: {tasting_room: @tasting_room} %>

    <%= render partial: 'tasting_rooms/sales_graph', locals: {tasting_room: @tasting_room} %>
    <%= render partial: 'tasting_rooms/sales_table', locals: {tasting_room: @tasting_room} %>
  </div>
</div>
