<h1>Welcome to the Wineries Group of Mendocino</h1>
<%# debugger %>
<p>Hi <%= @user.name %>,</p>

<p>
  Community Resource Center!<br>
  Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
