<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .button {
        padding: .6em;
        padding-top: .45em;
        font-size: 1.5em;
        border-radius: 0.5em;
        border: none;
        background-color: rgb(106, 233, 158);
        margin: 1em;
      }
      a {
        color: rgb(82, 94, 107);
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <h1>Welcome to West Company’s Community Consumer Sales Project.</h1>
    <%# debugger %>
    <p>Hi <%= @user.name %>,</p>

    <p>
      Thank you for signing up on {enter in TBD URL/domain name here}.  Please email john@westcompany.org with any comments or question.
      <br>
      Click on the link below to activate your account:
    </p>
    <p style="padding-top:1em;">
    <%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                        email: @user.email), class: 'button' %>

                                                      </p>
  </body>
</html>
