<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-2 col-lg-3 col-xl-4"></div>
  <div class="col-md-8 col-lg-6 col-xl-4">
    <div class="card card-block">
      <h2>Signup Page</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
