<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-2 col-lg-3 col-xl-3"></div>
  <div class="col-md-8 col-lg-6 col-xl-6">
    <div class="card card-block">
      <div class="pull-right">
        <%= image_tag 'WestCo_logo_full.png', style: "width: 8em;" %>
      </div>
      <h2>New User Signup Page</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
