

 <div class="card card-block" style="margin-left:.5rem;margin-right:.5rem;display:inline-block;max-width:20rem;background-color:rgba(200,200,200,1.0);">
   <img class="card-img-top" src="<%= attachment_url(county, :profile_image, :fill, 280, 120, format: "jpg")%>">

   <div class="card-block">
     <h4 class="card-title"><%= link_to county.name, county %></h4>
     <p class="card-text">


     </p>
   </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">Winery 1</li>
     <li class="list-group-item">Winery 2</li>

   </ul>
   <div class="card-block">
     <%= link_to 'Edit', edit_county_path(county), class: "card-link" %>
     <% if current_user.admin? %>
     <%= link_to "Destroy County", county, method: :delete,
                                 class: 'card-link btn btn-sm btn-danger',
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
   </div>
 </div>
