<div style="width:100%; margin-bottom: 1em;">
<% if tasting_room.missing_months_this_year > 0 %>
  <%= pluralize(tasting_room.missing_months_this_year, 'Month') %> missing for this year's sales.
  <% cur_month = Date.today.month - 1 %>
  <% for i in 1..cur_month do %>
    <% ss = tasting_room.sales_summaries_this_year.where(month: i) %>
    <% if ss.count < 1 %>
      <%= link_to Date::MONTHNAMES[i], new_sales_summary_path(tasting_room: tasting_room, month: i, year: Date.today.year), class: 'btn btn-sm btn-info' %>
    <% end %>
  <% end %>
  <br>
<% end %>

</div>
