$gray-medium-light: #eaeaea;
$footer-color: rgb(100,100,100);


$header_xs: 8em;
$header_sm: 8em;
$header_md: 8em;
$header_lg: 8em;
$header_xl: 8em;

$footer_xs: 2em;
//$footer_sm: 2.5em;

$c-greyblue: rgba(108, 159, 200, 0.9);
$c-red: rgba(255,0,0,0.9);

.c-greyblue {
  color: $c-greyblue;
}
