.header {
  position:absolute;
  top:0;
  padding: .5em;
  height:3.2em;
  background-color:rgb(124, 131, 124);
  width:100%;
  .links {
    margin-top: .32em;
    a {
    color: rgb(200,200,200);
    }
  }
}
