body {
  background-color: rgb(169, 171, 169);
}
.main {
  position: relative;
  top: 3.2em;
  padding-top: 1em;
}

.table-hover-inverse {
  tr{
    &:hover {
    background-color: rgb(117, 128, 117);
  }
}
}
.container-regular {
  background-color: rgb(213,213,213);
  border-radius: .4em;
  padding: 2.0em;
  padding-top: 1.8em;
  padding-bottom: 3em;
  margin: 1em;
  margin-bottom: 2em;

}

.form-inline-spaced {
  div {
    margin-bottom: 1em !important;
  }
}

.styled_select {
    width: 7.0em;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-image: image-url("chevron-down.png");

    background-repeat: no-repeat;
    //background-attachment: local;
    background-position: right;
    vertical-align: -50%;
  select {
    background: transparent;
    border: none;
    width: 8em;
    padding: 5px;

    //font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: .1em;
    //height: 34px;
    -webkit-appearance: none;
    display: inline-block;
  }
}
footer {
  position:fixed;
  left: 0;
  bottom: 0; //-.2em;
  width:100%;

  padding-left: .618em;
  padding-right: .618em;
  margin-top: 0em;
  padding-top: 0em;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1em;
  height: $footer_xs;
  font-size: .83em;

  @include media-breakpoint-up(sm) {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    padding-top: .25em;
    margin-bottom: 0;
    padding-bottom: 0;

    //height: $footer_sm;
  }

  background-color: $footer-color;
  color: #161518;
  a {
    color: #161518;
    &:hover {
      color: rgb(100,10,10);
    }
    &:visited {
      color: #161518;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
