// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.region-link {
  display: inline-block;
  position: relative;
  width: auto;
  a {
    span {
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
    }
  }
}
