// Place all the styles related to the SalesSummaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-summary {
  margin-bottom: 2em;
  th {
    font-weight: 700;
    padding: 1em;
    text-align: center;
  }
  tr {

  }
  td {
    padding: .5em;
    text-align: center;
    font-size: 1.2em;
  }
  td.right {
    text-align: right;
  }
}
.variance_pos {
  font-size: 1.45em;
  background-color: rgba(29,232,0,.8);
  border-radius: .4em;

}
.variance_neg {
  font-size: 1.35em;
  background-color: rgba(239,28,0,.8);
  border-radius: .4em;

}

.chart-container {
  border-radius:.66em;
  margin: 0;
  //margin-top: 1em;
  margin-bottom: 2em;
  overflow:hidden;
  width:auto;
  height:400px
}
