

<footer class="footer">
  <small><strong>
    <!--powered by Thought-Post
    <i class="fa fa-lightbulb-o c-greyblue"></i>
    -->
    <a href="http://www.westcompany.org" target="_new" class=""><%= image_tag 'WestCo_logo.png', style: 'width:11em;margin-top:-.5em;margin-left:-.3em;' %></a>
  </strong></small>
  <nav>
    <ul>
      <li><a href="http://thoughtpost.io" target="_new" class="tiny"><%= image_tag 't1.png', style: 'width:7em;margin-top:-.2em;' %></a></li>
    </ul>
  </nav>
</footer>
