

<footer class="footer">
  <small><strong>
    <!--powered by Thought-Post
    <i class="fa fa-lightbulb-o c-greyblue"></i>
    -->

  </strong></small>
  <nav>
    <ul>
      <li><a href="http://thoughtpost.io" target="_new" class="tiny"><%= image_tag 't1.png', style: 'width:7em;margin-top:-.2em;' %></a></li>
    </ul>
  </nav>
</footer>
