

<footer class="footer">
  <small><strong>
    <!--powered by ShopperNow-->

  </strong></small>
  <nav>
    <ul>
      <li><a href="https://thoughtpost.io" target="_new" class="tiny">Made with <i class="fa fa-lightbulb-o c-greyblue"></i> in Willits</a></li>
    </ul>
  </nav>
</footer>
